{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
      "for-direction":"error",
      "no-await-in-loop":"error",
      "no-const-assign": "error",
      "no-invalid-regexp": "error",
      "no-irregular-whitespace": "error",
      "no-var":"error",
      "prefer-const": "warn",
      "no-useless-escape": "off",
      "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "variableLike", "format": ["camelCase", "UPPER_CASE"]
        }
      ]
    }
  }